html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

h1,
h2,
h3,
p,
ul {
  margin: 0; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 6rem calc(100vh - 6rem) repeat(2, min-content) 40vw;
  grid-auto-rows: min-content;
  max-width: 100vw;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 7rem calc(100vh - 7rem); } }

.cta {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #c69963;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 1px 1.5px 0.2rem #aaa;
  border-radius: .5rem;
  transform: scale(1);
  -webkit-tap-highlight-color: transparent;
  transition: .2s, transform .03s ease-out, border .1s; }
  .cta:hover {
    background-color: #B28451;
    color: #fff; }
  @media only screen and (max-width: 37.5em) and (hover: none) {
    .cta {
      background-color: #c69963; }
      .cta:hover {
        background-color: #c69963; } }
  .cta:active {
    transform: scale(0.95); }

::selection {
  background-color: #f9f7f6;
  color: #101d2c; }

.heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 4.6rem;
  color: #f9f7f6;
  line-height: 1.2;
  text-transform: capitalize;
  align-self: center;
  letter-spacing: 2.4px; }

.heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
  line-height: 1.2; }
  .heading-2--dark-h2 {
    color: #54483A; }
  .heading-2--light {
    color: #f9f7f6; }

.heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
  transform: translateY(1.5rem); }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-transform: uppercase; }
  .heading-4--dark {
    color: #c69963; }
  .heading-4--light {
    color: #f9f7f6; }

.btn,
.btn:visited {
  background-color: #c69963;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1.5px 0.2rem #aaa;
  border-radius: .5rem;
  transform: scale(1);
  -webkit-tap-highlight-color: transparent;
  transition: background-color .2s, transform .03s ease-out; }
  .btn:hover,
  .btn:visited:hover {
    background-color: #B28451;
    color: #fff; }
  @media only screen and (max-width: 37.5em) and (hover: none) {
    .btn,
    .btn:visited {
      background-color: #c69963; }
      .btn:hover,
      .btn:visited:hover {
        background-color: #c69963; } }
  .btn:active,
  .btn:visited:active {
    transform: scale(0.95);
    background-color: #B28451 !important;
    color: #fff !important; }

.topbar {
  background-color: #101d2c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 6rem;
  z-index: 5;
  box-shadow: 0 .1rem .2rem #000; }
  @media only screen and (max-width: 50em) {
    .topbar {
      height: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .topbar {
      grid-template-columns: min-content 1fr min-content;
      justify-items: center; }
      .topbar.displayInput {
        justify-items: center;
        grid-gap: 3rem; } }
  .topbar__close {
    display: none;
    width: 3rem;
    height: 3rem;
    fill: #f9f7f6;
    cursor: pointer;
    transform: translateX(-3rem); }
  .topbar__img {
    height: 3.4rem;
    transform: translateX(8rem); }
    @media only screen and (max-width: 37.5em) {
      .topbar__img {
        transform: translateX(0); } }
  .topbar__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .topbar__nav {
        display: none; } }
  .topbar__item {
    list-style: none;
    height: 100%;
    transition: .1s, transform .05s ease-out; }
    .topbar__item:hover .topbar__link .topbar__icon {
      fill: #f9f7f6;
      filter: drop-shadow(0 0 1px whitesmoke);
      opacity: 1;
      visibility: visible;
      transform: translateY(0); }
      @media only screen and (max-width: 50em) {
        .topbar__item:hover .topbar__link .topbar__icon {
          visibility: hidden; } }
      .topbar__item:hover .topbar__link .topbar__icon--login {
        visibility: visible; }
    .topbar__item:hover .topbar__link p {
      transform: translateY(0); }
      @media only screen and (max-width: 50em) {
        .topbar__item:hover .topbar__link p {
          transform: translateY(0); } }
    @media only screen and (max-width: 50em) {
      .topbar__item:hover .topbar__link .topbar__text-login {
        transform: translateY(0); } }
    .topbar__item:not(:last-child) p {
      transform: translateY(-50%); }
      @media only screen and (max-width: 50em) {
        .topbar__item:not(:last-child) p {
          transform: translateY(0);
          align-self: center; } }
    @media only screen and (max-width: 50em) {
      .topbar__item:not(:last-child) .topbar__link .topbar__icon {
        display: none; } }
    .topbar__item:last-child {
      border-left: 2px solid #B28451; }
      @media only screen and (max-width: 50em) {
        .topbar__item:last-child .topbar__link {
          grid-auto-flow: column;
          grid-auto-columns: max-content;
          justify-content: center;
          grid-gap: 5px; } }
      @media only screen and (max-width: 50em) {
        .topbar__item:last-child .topbar__link .topbar__icon--login, .topbar__item:last-child .topbar__link .topbar__text-login {
          align-self: center; } }
    .topbar__item:hover {
      background-color: #B28451; }
      .topbar__item:hover .topbar__link {
        color: #f9f7f6; }
    .topbar__item:active {
      transform: scale(0.93); }
  .topbar .topbar__login .topbar__link {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1rem;
    justify-content: center; }
    .topbar .topbar__login .topbar__link .topbar__icon--login {
      align-self: center; }
  .topbar__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: #c69963;
    margin-bottom: 2px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%);
    align-self: end;
    transition: .2s ease-out, opacity .1s, filter 0s, fill 0s; }
    .topbar__icon--login {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); }
  .topbar__link, .topbar__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #c69963;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 1.5px; }
    .topbar__link p, .topbar__link:visited p {
      transition: .2s ease-out; }

.nav-btn {
  border-radius: 0;
  display: inline-block;
  position: relative;
  background-color: #f9f7f6;
  height: 2px;
  width: 3rem;
  transform: translateX(3rem);
  cursor: pointer; }
  @media only screen and (min-width: 37.5em) {
    .nav-btn {
      display: none; } }
  .nav-btn::before, .nav-btn::after {
    content: '';
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute; }
  .nav-btn::before {
    top: -1rem;
    left: 0; }
  .nav-btn::after {
    top: 1rem;
    left: 0; }

.search-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  fill: #f9f7f6;
  transform: translateX(-3rem); }
  .search-btn.close {
    display: none; }
  @media only screen and (min-width: 37.5em) {
    .search-btn {
      display: none; } }

.sidebar {
  width: 70vw;
  height: 100vh;
  position: fixed;
  background-color: #101d2c;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-items: start;
  align-items: center;
  grid-gap: 4rem;
  z-index: 10;
  opacity: 0;
  transform: translateX(-100%);
  box-shadow: 0.4rem 0 0.6rem rgba(0, 0, 0, 0.4);
  transition: .3s ease; }
  @media only screen and (min-width: 22.5em) and (max-width: 37.5em) {
    .sidebar {
      grid-gap: 5rem; } }
  .sidebar__back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 8;
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease; }
    @media only screen and (min-width: 37.5em) {
      .sidebar__back {
        display: none; } }
  @media only screen and (min-width: 37.5em) {
    .sidebar {
      display: none; } }
  .sidebar__cta-btn {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    position: relative; }
  .sidebar__user {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    justify-items: start;
    align-items: center;
    padding: 1.1rem 0;
    grid-gap: 8px;
    border-top: 1.5px solid #c69963;
    border-bottom: 1.5px solid #c69963; }
    .sidebar__user .box-user {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.7rem;
      font-weight: 400;
      color: #f9f7f6;
      display: grid;
      grid-auto-rows: min-content;
      grid-gap: 2px; }
      .sidebar__user .box-user .user-name {
        font-size: 1.8rem;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 5px; }
        @media only screen and (min-width: 22.5em) {
          .sidebar__user .box-user .user-name {
            font-size: 2.1rem; } }
        .sidebar__user .box-user .user-name::after {
          content: '';
          display: inline-block;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.4); }
      .sidebar__user .box-user .user-detail {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.4);
        font-style: italic; }
        @media only screen and (min-width: 22.5em) {
          .sidebar__user .box-user .user-detail {
            font-size: 1.4rem; } }
    .sidebar__user .box {
      width: 6rem;
      height: 6rem;
      display: inline-block;
      overflow: hidden;
      border-radius: 50%;
      background-color: #f9f7f6; }
  .sidebar__img {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .sidebar__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.8rem;
    justify-items: start;
    align-items: center; }
  .sidebar__item {
    list-style: none;
    width: 100%;
    height: 100%; }
    .sidebar__item:not(:last-child) {
      border-bottom: 1px solid rgba(178, 132, 81, 0.8);
      padding-bottom: 1rem; }
  .sidebar__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: #B28451;
    transform: translateY(-12%); }
    @media only screen and (min-width: 22.5em) {
      .sidebar__icon {
        width: 2rem;
        height: 2rem; } }
  .sidebar__link, .sidebar__link:active {
    display: inline-block;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    color: #f9f7f6;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: .8rem;
    align-items: center;
    -webkit-tap-highlight-color: transparent; }
    @media only screen and (min-width: 22.5em) {
      .sidebar__link, .sidebar__link:active {
        font-size: 2.5rem; } }
  .sidebar__copyright {
    display: inline-block;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.15);
    text-align: center;
    width: 100%; }

.edit-btn {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(255, 255, 255, 0.4); }

.close-btn {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  fill: #B28451;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.setting-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  fill: #B28451;
  justify-self: end;
  cursor: pointer; }

@media only screen and (min-width: 37.5em) {
  .edit-btn,
  .close-btn,
  .setting-btn {
    display: none; } }

.sidebar-click {
  opacity: 1;
  transform: translateX(0); }

.sidebar__back-click {
  opacity: 1;
  visibility: visible; }

.topbar__search {
  transform: translateX(1rem);
  display: none; }
  .topbar__search-form {
    display: inline-block;
    display: grid;
    grid-auto-flow: column; }
  .topbar__search-input {
    border: none;
    outline: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.8rem;
    color: #f9f7f6;
    background-color: transparent;
    border-bottom: 1.5px solid #B28451;
    padding: 1rem;
    padding-right: 4.5rem;
    caret-color: #f9f7f6; }
    .topbar__search-input::-webkit-input-placeholder {
      color: rgba(178, 132, 81, 0.8);
      font-size: 1.8rem;
      font-weight: 300;
      font-family: "Josefin Sans", sans-serif; }
  .topbar__search-button {
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
    transform: translateX(-150%); }
  .topbar__search-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    fill: #f9f7f6; }

.display {
  display: inline-block; }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url("../images/hero-2-small.jpeg");
  background-size: cover;
  background-position: center;
  padding: 4rem 8rem;
  grid-column: full-start / full-end;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 4rem;
  align-content: center; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em) {
    .header {
      background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url("../images/hero-2.jpeg"); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 4rem; } }
  .header__heading {
    letter-spacing: 2px; }
  .header__btn, .header__btn:visited {
    justify-self: start;
    align-self: start;
    transform: translateY(-1rem);
    box-shadow: 1px 1.5px 0.1rem #aaa; }
    @media only screen and (max-width: 37.5em) and (hover: none) {
      .header__btn, .header__btn:visited {
        background-color: #B28451; }
        .header__btn:hover, .header__btn:visited:hover {
          background-color: #B28451; } }
    .header__btn:active, .header__btn:visited:active {
      transform: translateY(-1rem) scale(0.95);
      background-color: #B28451; }

.realtors {
  background-color: #101d2c;
  padding: 4rem;
  grid-column: full-start/ full-end;
  grid-row: 3/4;
  display: grid;
  grid-gap: 3vw; }
  @media only screen and (max-width: 37.5em) {
    .realtors {
      grid-gap: 3rem; } }
  .realtors__heading {
    font-size: 1.8rem;
    transform: translateY(0);
    justify-self: center; }
    @media only screen and (max-width: 62.5em) {
      .realtors__heading {
        font-size: 2rem; } }
  .realtors__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    justify-items: center; }
    @media only screen and (max-width: 62.5em) {
      .realtors__list {
        grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
        grid-gap: 2rem; } }
  .realtors__details {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    grid-gap: 1rem; }
    @media only screen and (max-width: 62.5em) {
      .realtors__details {
        width: 50%; } }
    @media only screen and (max-width: 25em) {
      .realtors__details {
        width: 60%; } }
    .realtors__details:hover .box-img img {
      transform: scale(1.1); }
    .realtors__details .box-img {
      display: inline-block;
      width: 7rem;
      height: 7rem;
      overflow: hidden;
      border-radius: 50%; }
      @media only screen and (max-width: 37.5em) {
        .realtors__details .box-img {
          width: 6.5rem;
          height: 6.5rem; } }
      .realtors__details .box-img img {
        width: 100%;
        display: inline-block;
        transition: .2s ease-out; }
  .realtors__name {
    padding-left: 1rem;
    border-left: 1.5px solid #f9f7f6; }
    .realtors__name h4 {
      font-size: 1.5rem; }
      .realtors__name h4 span {
        font-weight: 300; }
  .realtors__sold {
    text-transform: uppercase;
    color: #c69963; }
  .realtors__cta {
    justify-self: center;
    background-color: transparent;
    box-shadow: none;
    padding: .5rem;
    border-radius: 0;
    color: #c69963;
    position: relative;
    transition: .2s ease-out, scale .1s; }
    @media only screen and (max-width: 62.5em) {
      .realtors__cta {
        font-size: 1.6rem; } }
    .realtors__cta::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.5px;
      background-color: #c69963;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      opacity: 0;
      transform-origin: center;
      transition: transform .2s; }
    .realtors__cta:hover {
      background-color: transparent;
      transform: translateY(-0.3rem); }
      .realtors__cta:hover::after {
        transform: scaleX(1);
        opacity: 1; }
    .realtors__cta:active {
      transform: scale(0.95) translateY(-0.3rem); }
      .realtors__cta:active::after {
        transform: scaleX(0); }

.features {
  grid-column: center-start / center-end;
  grid-row: 4/5;
  margin: 12rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .features {
      margin: 9rem 0; } }

.feature {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-items: center;
  grid-row-gap: 1.4rem;
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f9f7f6;
  border-radius: .5rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.05);
  line-height: 1.5;
  transition: .3s; }
  .feature:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 37.5em) and (hover: none) {
    .feature {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
      .feature:hover {
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); } }
  .feature__icon {
    fill: #B28451;
    width: 5.6rem;
    height: 5.6rem; }
  .feature__text {
    font-size: 1.5rem;
    color: #c69963; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../images/back-small.jpg");
  background-size: cover;
  display: grid;
  grid-row: 5/6;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em) {
    .story__pictures {
      background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../images/back.jpg"); } }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: full-start / full-end;
      grid-row: 6/7;
      padding: 4rem; } }

.story__box--1 {
  grid-column: 2/6;
  grid-row: 2/6; }
  @media only screen and (max-width: 50em) {
    .story__box--1 {
      grid-column: 1/5;
      grid-row: 1/-1; } }

.story__box--2 {
  grid-column: 4/-1;
  grid-row: 4/6;
  z-index: 3; }
  @media only screen and (max-width: 50em) {
    .story__box--2 {
      grid-row: 4/-1;
      transform: translateX(0); } }
  @media only screen and (max-width: 37.5em) {
    .story__box--2 {
      align-self: end; } }

.story__img--1 {
  width: 100%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: .25rem; }
  @media only screen and (max-width: 37.5em) {
    .story__img--1 {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3); } }

.story__img--3 {
  width: 115%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  transform: translateX(0.5rem); }
  @media only screen and (max-width: 50em) {
    .story__img--3 {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .story__img--3 {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4); } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  grid-row: 5/6;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: full-start / full-end;
      grid-row: 5/6; } }
  @media only screen and (max-width: 37.5em) {
    .story__content {
      padding: 4rem 8vw 5rem; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 2rem; }

.homes {
  font-weight: 400;
  grid-column: center-start / center-end;
  grid-row: 6/7;
  margin: 12rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 50em) {
    .homes {
      grid-row: 7/8; } }
  @media only screen and (max-width: 37.5em) {
    .homes {
      margin: 9rem 0; } }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem; }
  .home:hover .home__box .home__img {
    transform: scale(1.12); }
  .home:hover .home__icon {
    animation: iconJump 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 1 alternate forwards; }
  .home__box {
    grid-column: 1/-1;
    grid-row: 1/2;
    overflow: hidden; }
  .home__img {
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    transition: .5s ease-out; }
  .home__icon {
    fill: #101d2c;
    width: 3rem;
    height: 3rem;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 3;
    justify-self: end;
    margin: 1rem;
    cursor: pointer;
    background-color: #f9f7f6;
    border-radius: 50%;
    padding: .3rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  .home__name {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 80%;
    justify-self: center;
    align-self: end;
    z-index: 3;
    border-radius: .5rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem;
      margin-right: .5rem; }
  .home__btn {
    grid-column: 1/-1;
    box-shadow: none;
    text-align: center;
    border-radius: 0; }
  .home__cta, .home__cta:visited {
    grid-column: 2/3;
    justify-self: center; }
    @media only screen and (max-width: 75em) {
      .home__cta, .home__cta:visited {
        grid-column: 1/-1; } }

@keyframes iconJump {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.6rem); }
  80% {
    transform: translateY(0.4rem); }
  100% {
    transform: translateY(0); } }

.map {
  grid-column: center-start / center-end;
  grid-row: 8/9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 3rem;
  align-items: center;
  margin-top: 12rem;
  border-radius: 2px; }
  .map__title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 6rem;
    letter-spacing: 3px;
    color: #c69963;
    text-transform: capitalize;
    text-align: center; }
  .map__container {
    width: 100%;
    position: relative;
    z-index: 2; }
    .map__container::after {
      content: '';
      position: absolute;
      bottom: -2rem;
      left: -2rem;
      width: 100%;
      height: 100%;
      border: 4px solid #B28451;
      z-index: -1; }

.footage {
  grid-column: center-start / center-end;
  grid-row: 7/8;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 3rem;
  align-items: center; }
  .footage__title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 6rem;
    letter-spacing: 3px;
    color: #c69963;
    text-transform: capitalize;
    text-align: center; }
  .footage__video {
    width: 100%; }
    .footage__video video {
      width: 100%;
      object-fit: cover;
      border-radius: 2px; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  grid-row: 9/10;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem 1.5rem 10rem;
  margin-top: 10rem; }
  @media only screen and (max-width: 50em) {
    .gallery {
      grid-row: 8/9; } }
  .gallery__item {
    border-radius: .5rem;
    overflow: hidden;
    transition: .4s; }
    .gallery__item:hover {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 37.5em) and (hover: none) {
      .gallery__item {
        border-radius: 0;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); }
        .gallery__item:hover {
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); } }
    .gallery__item:hover .gallery__img {
      transform: scale(1.1); }
    .gallery__item--1 {
      grid-row: 1/span 2;
      grid-column: 1/span 2; }
    .gallery__item--2 {
      grid-row: 1/span 3;
      grid-column: 3/6; }
    .gallery__item--3 {
      grid-row: 1/span 2;
      grid-column: 6/7; }
    .gallery__item--4 {
      grid-row: 1/span 2;
      grid-column: 7/-1; }
    .gallery__item--5 {
      grid-row: 3/span 3;
      grid-column: 1/span 2; }
    .gallery__item--6 {
      grid-row: 4/6;
      grid-column: 3/5; }
    .gallery__item--7 {
      grid-row: 4/5;
      grid-column: 5/6; }
    .gallery__item--8 {
      grid-row: 3/5;
      grid-column: 6/8; }
    .gallery__item--9 {
      grid-row: 3/6;
      grid-column: 8/-1; }
    .gallery__item--10 {
      grid-row: 6/-1;
      grid-column: 1/2; }
    .gallery__item--11 {
      grid-row: 6/-1;
      grid-column: 2/4; }
    .gallery__item--12 {
      grid-row: 6/-1;
      grid-column: 4/5; }
    .gallery__item--13 {
      grid-row: 5/-1;
      grid-column: 5/span 3; }
    .gallery__item--14 {
      grid-row: 6/-1;
      grid-column: 8/-1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    transition: .4s ease-out; }
  .gallery__cta {
    grid-column: 4/6;
    justify-self: center;
    transform: translateY(250%);
    grid-row: 7/8;
    align-self: center;
    transition: .2s, transform .03s ease-out; }
    .gallery__cta:active {
      transform: translateY(250%) scale(0.95); }
    @media only screen and (max-width: 37.5em) {
      .gallery__cta {
        grid-column: 1/-1;
        transform: translateY(200%); }
        .gallery__cta:active {
          transform: translateY(200%) scale(0.95); } }

.booking {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  font-family: "Josefin Sans", sans-serif; }
  .booking__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 5rem;
    padding: 5rem 6rem; }
  .booking__left, .booking__right {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 4rem; }
  .booking__right {
    grid-gap: 2rem; }
  .booking__detail {
    display: grid;
    grid-template-columns: 70% max-content;
    justify-content: space-between; }
    .booking__detail h1 {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 6px;
      color: #B28451; }
    .booking__detail div {
      display: flex;
      align-items: center;
      gap: 5px; }
      .booking__detail div img {
        width: 2rem; }
  .booking__subtitle {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 4px;
    color: #B28451; }
  .booking__img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px; }
  .booking__facility, .booking__realtor {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem; }
  .booking__group-container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-auto-rows: min-content;
    grid-gap: 3rem; }
  .booking__group {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .booking__group svg {
      fill: #c69963;
      width: 2.4rem;
      height: 2.4rem; }
    .booking__group p {
      font-size: 2rem;
      font-weight: 400;
      color: #c69963;
      transform: translateY(2px); }
  .booking__border {
    width: 100%;
    height: 1px;
    background-color: #B28451;
    border-radius: 2px;
    opacity: .4; }
  .booking__realtor-profile {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .booking__realtor-profile img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%; }
    .booking__realtor-profile p {
      font-size: 2rem;
      font-weight: 400;
      color: #c69963; }
  .booking__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem; }
  .booking__form-title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: #B28451; }
  .booking__form-group label {
    font-size: 1.6rem;
    font-weight: 500;
    color: #6D5D4B; }
  .booking__form-group input {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 1.5rem; }
  .booking__form-group input::placeholder {
    font-size: inherit;
    font-weight: 400;
    color: #aaa; }
  .booking__credit-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 2rem; }
  .booking__card-payment {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 5px; }
    .booking__card-payment img {
      width: 5rem; }

.footer__booking {
  grid-column: unset;
  grid-row: unset; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.seenon {
  padding: 6rem;
  background-color: #f9f7f6;
  display: grid;
  grid-column: full-start / full-end;
  grid-row: 10/11;
  grid-template-rows: 1fr 5rem; }
  @media only screen and (max-width: 50em) {
    .seenon {
      grid-row: 9/10; } }
  @media only screen and (max-width: 37.5em) {
    .seenon {
      padding: 6rem 4rem 4rem;
      grid-template-rows: min-content;
      grid-gap: 3rem; } }
  .seenon__text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-gap: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #aaa; }
    .seenon__text::before, .seenon__text::after {
      content: '';
      height: 1px;
      display: inline-block;
      background-color: currentColor; }
  .seenon__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .seenon__logos {
        grid-template-columns: 1fr;
        grid-gap: 4.5rem; } }
    .seenon__logos img {
      height: 2.4rem;
      filter: brightness(70%); }

.login,
.register {
  display: grid;
  grid-template-columns: 45vw 1fr;
  grid-template-rows: 100vh;
  background-color: #f9f7f6;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif; }
  .login__left,
  .register__left {
    align-self: center;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2.5rem;
    align-content: center;
    padding: 4rem 8rem;
    overflow: auto; }
  .login__jumbotron,
  .register__jumbotron {
    width: 100%;
    height: 100vh;
    object-fit: cover; }
  .login__logo,
  .register__logo {
    width: 15rem; }
  .login__title,
  .register__title {
    font-size: 4.5rem;
    font-weight: 600;
    color: #101d2c;
    text-transform: capitalize; }
  .login__form,
  .register__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2.5rem; }
  .login__redirect,
  .register__redirect {
    font-size: 1.4rem;
    font-weight: 400; }
    .login__redirect a,
    .login__redirect a:visited,
    .register__redirect a,
    .register__redirect a:visited {
      font-family: "Nunito", sans-serif;
      color: #6D5D4B;
      text-decoration: underline;
      font-weight: 600; }
  .login__group label,
  .register__group label {
    font-size: 1.6rem;
    font-weight: 500; }
  .login__group input,
  .register__group input {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 2rem; }
  .login__group input::placeholder,
  .register__group input::placeholder {
    font-size: inherit;
    font-weight: 400;
    color: #aaa; }
  .login__role,
  .register__role {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 1rem; }
    .login__role p,
    .register__role p {
      font-size: 1.6rem;
      font-weight: 500; }
    .login__role .form-check,
    .register__role .form-check {
      display: flex;
      align-items: center;
      gap: 1rem; }
    .login__role .form-check label,
    .register__role .form-check label {
      font-size: 1.6rem;
      font-weight: 500;
      cursor: pointer; }
    .login__role span,
    .register__role span {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 2px solid #B28451;
      position: relative;
      cursor: pointer; }
    .login__role span::after,
    .register__role span::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 1rem;
      height: 1rem;
      background-color: #101d2c;
      border-radius: 50%;
      transition: .2s ease; }
    .login__role .form-check input:checked ~ span::after,
    .register__role .form-check input:checked ~ span::after {
      transform: translate(-50%, -50%) scale(1); }

.register__left {
  align-content: unset; }

.register__right {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content; }

.register__jumbotron {
  opacity: 0;
  visibility: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
  transition: .2s ease; }

.register__jumbotron.displayed {
  opacity: 1;
  visibility: visible; }

.topbar__logged {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  color: #f9f7f6;
  cursor: pointer;
  transition: .1s ease; }
  .topbar__logged:hover .topbar__user {
    color: #f9f7f6; }
  .topbar__logged:active {
    transform: scale(1); }
  .topbar__logged img {
    width: 1.6rem; }

.topbar__user {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  color: #c69963;
  text-transform: uppercase;
  transform: translateY(2px);
  transition: .1s ease; }

.topbar__option {
  position: absolute;
  width: 80%;
  top: 100%;
  left: 0;
  padding: 1rem 0;
  background-color: #101d2c;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0.4rem 1rem rgba(84, 72, 58, 0.2);
  transition: .3s ease; }
  .topbar__option ul li:hover {
    color: #f9f7f6;
    background-color: #c69963; }

.topbar__dropdown {
  height: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 1.5rem;
  padding-left: 0;
  overflow: hidden;
  transition: .3s ease; }
  .topbar__dropdown li {
    list-style: none;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    color: #c69963;
    transition: .1s ease; }
    .topbar__dropdown li:hover {
      color: #f9f7f6;
      background-color: #c69963; }

.topbar__role {
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  color: #c69963;
  transition: .1s ease; }
  .topbar__role:hover {
    color: #f9f7f6;
    background-color: #c69963; }

.topbar__logged.clicked {
  background-color: #c69963; }

.topbar__logged.clicked .topbar__user {
  color: #f9f7f6; }

.topbar__dropdown.drop {
  height: 15.8rem; }

.topbar__option.drop {
  padding: 0; }

.house__img {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 2px; }

.house__detail {
  height: 50%;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  align-content: end;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  padding: 0 2rem 2rem;
  border-radius: 0 0 2px 2px;
  background-image: linear-gradient(to top, #101d2c 45%, transparent 90%, transparent); }

.house__spec {
  display: flex;
  gap: 1rem; }

.house__border {
  height: .2px;
  width: 100%;
  border-radius: 2px;
  opacity: .5;
  background-color: #B28451; }

.house__group {
  display: flex;
  align-items: center;
  gap: 8px; }
  .house__group svg {
    fill: #B28451;
    width: 1.5rem;
    height: 1.5rem; }
  .house__group p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #c69963;
    transform: translateY(2px); }

.house__recommend {
  display: flex;
  align-items: center;
  gap: 1rem; }
  .house__recommend p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #c69963;
    transform: translateY(2px); }

.house__progress {
  width: 50%; }

.house__progress-bar {
  background-color: #B28451; }

.house-btn-close, .house-btn-book {
  padding: 1rem 2rem; }

.house-btn-close {
  background-color: transparent;
  color: #c69963;
  border: 1px solid #c69963;
  box-shadow: none; }
  .house-btn-close:hover, .house-btn-close:active {
    background-color: transparent !important;
    color: #c69963 !important;
    border: 1px solid #c69963; }

.house-btn-book {
  margin-left: 1rem; }

.modal-content {
  padding: 2rem 1rem; }

.modal-header,
.modal-footer {
  border: none; }

.modal-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem !important;
  font-weight: 600;
  color: #B28451;
  letter-spacing: 1.5px; }

.modal-body {
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content; }

.btn-close {
  display: none; }

.admin {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  font-family: "Josefin Sans", sans-serif; }
  .admin__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 4rem;
    padding: 5rem 6rem;
    background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url("/src/images/admin-jumbotron.jpg");
    background-size: cover; }
  .admin__title {
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: 6px;
    color: #B28451; }
  .admin__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem; }
  .admin__form-group {
    width: 50%; }
    .admin__form-group label {
      font-size: 1.6rem;
      font-weight: 500;
      color: #f9f7f6; }
    .admin__form-group input {
      font-size: 1.4rem;
      font-weight: 500;
      padding: 1rem 1.5rem; }
    .admin__form-group input::placeholder {
      font-size: inherit;
      font-weight: 400;
      color: #aaa; }
  .admin__btn {
    width: 50%; }

.footer__admin {
  grid-column: unset;
  grid-row: unset; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  grid-row: 11/12;
  padding: 8rem 8rem 4rem;
  font-family: "Josefin Sans", sans-serif; }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-row: 10/11; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 6rem 8rem 4rem; } }
  .footer__nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__nav {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); } }
    .footer__nav__link:active {
      transform: translateY(-0.4rem) scale(0.95); }
      .footer__nav__link:active::after {
        transform: scaleX(0); }
  .footer__link, .footer__link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: #f9f7f6;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    transition: .2s ease-out, scale .1s; }
    .footer__link span, .footer__link:visited span {
      font-weight: 400; }
  .footer__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #f9f7f6;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: center;
    transition: transform .2s; }
  .footer__link:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    transform: translateY(-0.4rem); }
    .footer__link:hover::after {
      transform: scaleX(1);
      opacity: 1; }

.copyright {
  display: inline-block;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 5rem;
  text-align: center;
  width: 100%; }

.footer__booking,
.footer__admin {
  background-color: #101d2c;
  padding: 8rem 8rem 4rem;
  font-family: "Josefin Sans", sans-serif; }
  @media only screen and (max-width: 50em) {
    .footer__booking,
    .footer__admin {
      grid-row: 10/11; } }
  @media only screen and (max-width: 37.5em) {
    .footer__booking,
    .footer__admin {
      padding: 6rem 8rem 4rem; } }
  .footer__booking-nav,
  .footer__admin-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__booking-nav,
      .footer__admin-nav {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); } }
    .footer__booking-nav-link:active,
    .footer__admin-nav-link:active {
      transform: translateY(-0.4rem) scale(0.95); }
      .footer__booking-nav-link:active::after,
      .footer__admin-nav-link:active::after {
        transform: scaleX(0); }
  .footer__booking-link, .footer__booking-link:visited,
  .footer__admin-link,
  .footer__admin-link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: #f9f7f6;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    transition: .2s ease-out, scale .1s; }
    .footer__booking-link span, .footer__booking-link:visited span,
    .footer__admin-link span,
    .footer__admin-link:visited span {
      font-weight: 400; }
  .footer__booking-link::after,
  .footer__admin-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #f9f7f6;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: center;
    transition: transform .2s; }
  .footer__booking-link:hover,
  .footer__admin-link:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    transform: translateY(-0.4rem); }
    .footer__booking-link:hover::after,
    .footer__admin-link:hover::after {
      transform: scaleX(1);
      opacity: 1; }
